@page "/category/{slug}"

<div class="container px-8 mx-auto xl:px-5  max-w-screen-lg py-5 lg:py-8">
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-3xl font-semibold tracking-tight lg:leading-tight text-brand-primary lg:text-5xl dark:text-white">Personal Growth</h1>
        <p class="mt-1 text-gray-600">5 Articles</p>
    </div>
    <div class="grid gap-10 mt-20 lg:gap-10 md:grid-cols-2 xl:grid-cols-3 ">
        <div class="cursor-pointer group">
            <div class=" overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800   hover:scale-105">
                <a class="relative block aspect-square" href="/post/3-meaningful-ways-to-practice-self-care-as-an-introvert">
                    <img alt="Thumbnail" sizes="(max-width: 768px) 30vw, 33vw" srcset="https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/c366d5116a51d3f1d8b23962e6b7caac7c960f81-7855x5240.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="transition-all object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                </a>
            </div>
            <div class="">
                <div>
                    <div class="flex gap-3">
                        <a href="/category/personal-growth">
                            <span class="inline-block text-xs font-medium tracking-wider uppercase   mt-5 text-emerald-700">Personal Growth</span>
                        </a>
                    </div>
                    <h2 class="text-lg font-semibold leading-snug tracking-tight mt-2    dark:text-white">
                        <a href="/post/3-meaningful-ways-to-practice-self-care-as-an-introvert">
                            <span class="bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]">3 Meaningful Ways to Practice Self-Care as an Introvert</span>
                        </a>
                    </h2>
                    <div class="hidden">
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 line-clamp-3">
                            <a href="/post/3-meaningful-ways-to-practice-self-care-as-an-introvert">While AI has proved superior at complex calculations &amp; predictions, creativity seemed to be the domain that machines can’t take over.</a>
                        </p>
                    </div>
                    <div class="flex items-center mt-3 space-x-3 text-gray-500 dark:text-gray-400">
                        <div class="flex items-center gap-3">
                            <div class="relative flex-shrink-0 w-5 h-5">
                                <img alt="Mario Sanchez" sizes="20px" srcset="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=16&amp;q=75&amp;fit=clip&amp;auto=format 16w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=32&amp;q=75&amp;fit=clip&amp;auto=format 32w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=48&amp;q=75&amp;fit=clip&amp;auto=format 48w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=64&amp;q=75&amp;fit=clip&amp;auto=format 64w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=96&amp;q=75&amp;fit=clip&amp;auto=format 96w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=128&amp;q=75&amp;fit=clip&amp;auto=format 128w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="rounded-full object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                            </div><span class="text-sm">Mario Sanchez</span>
                        </div><span class="text-xs text-gray-300 dark:text-gray-600">•</span><time class="text-sm" datetime="2022-10-18T14:49:00.000Z">October 18, 2022</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="cursor-pointer group">
            <div class=" overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800   hover:scale-105">
                <a class="relative block aspect-square" href="/post/every-next-level-of-your-life-will-demand-a-different-you">
                    <img alt="Thumbnail" sizes="(max-width: 768px) 30vw, 33vw" srcset="https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="transition-all object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                </a>
            </div>
            <div class="">
                <div>
                    <div class="flex gap-3">
                        <a href="/category/lifestyle">
                            <span class="inline-block text-xs font-medium tracking-wider uppercase   mt-5 text-purple-600">Lifestyle</span>
                        </a>
                        <a href="/category/personal-growth">
                            <span class="inline-block text-xs font-medium tracking-wider uppercase   mt-5 text-emerald-700">Personal Growth</span>
                        </a>
                    </div>
                    <h2 class="text-lg font-semibold leading-snug tracking-tight mt-2    dark:text-white">
                        <a href="/post/every-next-level-of-your-life-will-demand-a-different-you">
                            <span class="bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]">Every Next Level of Your Life Will Demand a Different You</span>
                        </a>
                    </h2>
                    <div class="hidden">
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 line-clamp-3">
                            <a href="/post/every-next-level-of-your-life-will-demand-a-different-you">That was so fun! I’ve got a new addiction! my athlete friend exclaimed, tired but happy in the car on the way home. “Let’s do it again tomorrow.”</a>
                        </p>
                    </div>
                    <div class="flex items-center mt-3 space-x-3 text-gray-500 dark:text-gray-400">
                        <div class="flex items-center gap-3">
                            <div class="relative flex-shrink-0 w-5 h-5">
                                <img alt="Mario Sanchez" sizes="20px" srcset="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=16&amp;q=75&amp;fit=clip&amp;auto=format 16w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=32&amp;q=75&amp;fit=clip&amp;auto=format 32w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=48&amp;q=75&amp;fit=clip&amp;auto=format 48w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=64&amp;q=75&amp;fit=clip&amp;auto=format 64w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=96&amp;q=75&amp;fit=clip&amp;auto=format 96w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=128&amp;q=75&amp;fit=clip&amp;auto=format 128w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="rounded-full object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                            </div><span class="text-sm">Mario Sanchez</span>
                        </div><span class="text-xs text-gray-300 dark:text-gray-600">•</span><time class="text-sm" datetime="2022-10-20T12:28:00.000Z">October 20, 2022</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="cursor-pointer group">
            <div class=" overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800   hover:scale-105">
                <a class="relative block aspect-square" href="/post/10-simple-practices-that-will-help-you-get-1-better-every-day">
                    <img alt="Thumbnail" sizes="(max-width: 768px) 30vw, 33vw" srcset="https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/86cb3a2f0e43610371a7184483c5567bd9e6e94f-2400x1600.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="transition-all object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                </a>
            </div>
            <div class="">
                <div>
                    <div class="flex gap-3">
                        <a href="/category/personal-growth">
                            <span class="inline-block text-xs font-medium tracking-wider uppercase   mt-5 text-emerald-700">Personal Growth</span>
                        </a>
                    </div>
                    <h2 class="text-lg font-semibold leading-snug tracking-tight mt-2    dark:text-white">
                        <a href="/post/10-simple-practices-that-will-help-you-get-1-better-every-day">
                            <span class="bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]">10 Simple Practices That Will Help You Get 1% Better Every Day</span>
                        </a>
                    </h2>
                    <div class="hidden">
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 line-clamp-3">
                            <a href="/post/10-simple-practices-that-will-help-you-get-1-better-every-day">How do we become better every single day? We develop practices that will help move us incrementally forward. Small steps, taken consistently. This is the path to a good life.</a>
                        </p>
                    </div>
                    <div class="flex items-center mt-3 space-x-3 text-gray-500 dark:text-gray-400">
                        <div class="flex items-center gap-3">
                            <div class="relative flex-shrink-0 w-5 h-5">
                                <img alt="Erika Oliver" sizes="20px" srcset="https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=16&amp;q=75&amp;fit=clip&amp;auto=format 16w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=32&amp;q=75&amp;fit=clip&amp;auto=format 32w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=48&amp;q=75&amp;fit=clip&amp;auto=format 48w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=64&amp;q=75&amp;fit=clip&amp;auto=format 64w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=96&amp;q=75&amp;fit=clip&amp;auto=format 96w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=128&amp;q=75&amp;fit=clip&amp;auto=format 128w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/4e20f048a69ac41ab7a6b5f1687f0547379b7469-3648x5472.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="rounded-full object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                            </div><span class="text-sm">Erika Oliver</span>
                        </div><span class="text-xs text-gray-300 dark:text-gray-600">•</span><time class="text-sm" datetime="2022-10-04T15:16:00.000Z">October 04, 2022</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="cursor-pointer group">
            <div class=" overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800   hover:scale-105">
                <a class="relative block aspect-square" href="/post/the-rise-of-artificial-intelligence-and-the-future-of-humans">
                    <img alt="Thumbnail" sizes="(max-width: 768px) 30vw, 33vw" srcset="https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/e60f8ab265df3c22fdde5469de54d225017b7323-4000x5000.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="transition-all object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                </a>
            </div>
            <div class="">
                <div>
                    <div class="flex gap-3">
                        <a href="/category/personal-growth">
                            <span class="inline-block text-xs font-medium tracking-wider uppercase   mt-5 text-emerald-700">Personal Growth</span>
                        </a>
                    </div>
                    <h2 class="text-lg font-semibold leading-snug tracking-tight mt-2    dark:text-white">
                        <a href="/post/the-rise-of-artificial-intelligence-and-the-future-of-humans">
                            <span class="bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]">The Rise of Artificial Intelligence and the Future of Humans</span>
                        </a>
                    </h2>
                    <div class="hidden">
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 line-clamp-3">
                            <a href="/post/the-rise-of-artificial-intelligence-and-the-future-of-humans">While AI has proved superior at complex calculations &amp; predictions, creativity seemed to be the domain that machines can’t take over.</a>
                        </p>
                    </div>
                    <div class="flex items-center mt-3 space-x-3 text-gray-500 dark:text-gray-400">
                        <div class="flex items-center gap-3">
                            <div class="relative flex-shrink-0 w-5 h-5">
                                <img alt="Joshua Wood" sizes="20px" srcset="https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=16&amp;q=75&amp;fit=clip&amp;auto=format 16w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=32&amp;q=75&amp;fit=clip&amp;auto=format 32w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=48&amp;q=75&amp;fit=clip&amp;auto=format 48w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=64&amp;q=75&amp;fit=clip&amp;auto=format 64w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=96&amp;q=75&amp;fit=clip&amp;auto=format 96w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=128&amp;q=75&amp;fit=clip&amp;auto=format 128w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/cd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg?rect=0,0,4480,3760&amp;w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="rounded-full object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                            </div><span class="text-sm">Joshua Wood</span>
                        </div><span class="text-xs text-gray-300 dark:text-gray-600">•</span><time class="text-sm" datetime="2022-10-18T13:47:00.000Z">October 18, 2022</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="cursor-pointer group">
            <div class=" overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800   hover:scale-105">
                <a class="relative block aspect-square" href="/post/four-ways-to-find-meaning-in-life">
                    <img alt="Thumbnail" sizes="(max-width: 768px) 30vw, 33vw" srcset="https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/d4898616e2973584b1b8a0bfdb5c6cf7c36ab012-1064x1330.png?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="transition-all object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                </a>
            </div>
            <div class="">
                <div>
                    <div class="flex gap-3">
                        <a href="/category/personal-growth">
                            <span class="inline-block text-xs font-medium tracking-wider uppercase   mt-5 text-emerald-700">Personal Growth</span>
                        </a>
                    </div>
                    <h2 class="text-lg font-semibold leading-snug tracking-tight mt-2 dark:text-white">
                        <a href="/post/four-ways-to-find-meaning-in-life">
                            <span class="bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]">Four Ways to Find Meaning in Life</span>
                        </a>
                    </h2>
                    <div class="hidden">
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 line-clamp-3">
                            <a href="/post/four-ways-to-find-meaning-in-life">It is a cliche philosophical question, but it touches on something fundamental about how humans relate to the world around them. </a>
                        </p>
                    </div>
                    <div class="flex items-center mt-3 space-x-3 text-gray-500 dark:text-gray-400">
                        <div class="flex items-center gap-3">
                            <div class="relative flex-shrink-0 w-5 h-5">
                                <img alt="Mario Sanchez" sizes="20px" srcset="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=16&amp;q=75&amp;fit=clip&amp;auto=format 16w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=32&amp;q=75&amp;fit=clip&amp;auto=format 32w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=48&amp;q=75&amp;fit=clip&amp;auto=format 48w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=64&amp;q=75&amp;fit=clip&amp;auto=format 64w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=96&amp;q=75&amp;fit=clip&amp;auto=format 96w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=128&amp;q=75&amp;fit=clip&amp;auto=format 128w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="rounded-full object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                            </div><span class="text-sm">Mario Sanchez</span>
                        </div><span class="text-xs text-gray-300 dark:text-gray-600">•</span><time class="text-sm" datetime="2022-09-14T15:14:00.000Z">September 14, 2022</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Slug { get; set; } = default!;

}