@page "/post/{slug}"
@using Blog.Domain.DbContexts
@using Blog.Domain.Aggregates.PostAggregate

<div>
    <div class="container px-8 mx-auto xl:px-5  max-w-screen-lg py-5 lg:py-8 !pt-0">
        <div class="max-w-screen-md mx-auto ">
            <div class="flex justify-center">
                <div class="flex gap-3">
                    @{
                        var tags = Post?.Tags;
                    }
                    @if (tags != null && tags.Any())
                    {
                        foreach (var item in tags)
                        {
                            <a href="#">
                                <span class="inline-block text-xs font-medium tracking-wider uppercase mt-5 text-purple-600">@item</span>
                            </a>
                        }
                    }
                </div>
            </div>
            <h1 class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4xl dark:text-white">@Post?.Title</h1>
            <div class="flex justify-center mt-3 space-x-3 text-gray-500 ">
                <div class="flex items-center gap-3">
                    <div class="relative flex-shrink-0 w-10 h-10">
                        <a href="/author/mario-sanchez">
                            <img alt="Mario Sanchez" sizes="40px" srcset="@Post?.Cover" src="@Post?.Cover" decoding="async" data-nimg="fill" class="rounded-full object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                        </a>
                    </div>
                    <div>
                        <p class="text-gray-800 dark:text-gray-400">
                            <a href="/author/mario-sanchez">Mario Sanchez</a>
                        </p>
                        <div class="flex items-center space-x-2 text-sm">
                            <time class="text-gray-500 dark:text-gray-400" datetime="@Post?.CreatedTime">@Post?.CreatedTime.ToString("D")</time><span>· 8 min read</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
        <img alt="Thumbnail" sizes="100vw" srcset="@Post?.Cover" src="@Post?.Cover" decoding="async" data-nimg="fill" class="object-cover" loading="eager" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
    </div>
    <div class="container px-8 mx-auto xl:px-5  max-w-screen-lg py-5 lg:py-8">
        <article class="max-w-screen-md mx-auto ">
            <div class="mx-auto my-3 prose dark:prose-invert prose-a:text-blue-600">
                <p>
                    <strong>Reinvention often comes in spurts, after a long period of silence. Just as modern architecture recently enjoyed a comeback, brand architecture, a field with well-established principles for decades, is back in the limelight.</strong>
                </p>
                <p>Simply understood, brand architecture is the art and science of structuring the portfolio to meet your strategic goals, defining the brand number, scope, and relationships needed to compete. Just as Modern Architecture prioritized function, a Brand Architecture is only as good as it is well-suited for the purpose it strives to achieve. Given the disruption observed today across industries and segments, it’s no wonder that companies are considering structural rather than topical solutions to the challenges they face.</p>
                <p>Yet the context in which brand architecture decisions are being made has changed. Gone are the days of “competitive strategy”, with the military-inspired view of competition as a zero-sum game, where market share needs to be stolen from competitors, often in a street-by-street battle to win over each individual segment. The type of brand architecture required to win in this game demanded a dogged focus on each segment, and a sniper-like collection of individual brands sharply focused on each one. While there was always a place for a variety of architectures — see Joachimsthaler’s brand relationship spectrum — houses of brands were favored, as it enabled segment-by-segment competition and risk protection. P&amp;G was the king of houses of brands, slicing and dicing the market not just by products and demographics, but also by psychographics, price range, buying patterns or attitudes. In B2B, houses of brands were omnipresent, with a product-driven logic that led to branding new features meant to provide short-term competitive advantage.</p>
                <p>In today’s day and age, companies like Google or Amazon do not pursue growth through incremental market share gains; rather, they focus on understanding their customers’ needs and creating entirely new markets to answer them. Creating a house of brands for these markets would be folly — not only would each brand need to be created from scratch, increasing the already significant investment, but the new category itself often needs to be explained to consumers, compounding the cost.</p>
                <p>Instead, investing in a strong master brand-led architecture and putting multiple if not all brands under the leadership of a strong brand, presents numerous advantages. First, mergers and acquisitions, or partnerships, are making it necessary to bring multiple market participants to “the same page” — and this common ground often involves a master brand recognized by all. Second, the risk profile of a “branded house” architecture has changed: the master brand can create an aura of innovation and risk-taking, supporting the launch of new products. Third, investments can be streamlined, as a strong master brand can be leveraged across markets and product launches. Finally, a track record of success in creating new categories can create goodwill, creating a virtual circle of success. To achieve this, brand architecture does not need to be a pure “branded house” — in many cases, a strong master brand creates substantial leverage and a much cleaner portfolio, even as a few particularly strong brands can continue existing as sub-brands. An example of this is Salesforce, that leverages its master brand consistently — yet allows more independence to a few specific sub-brands, such as Pardot.</p>
                <p>
                    <strong>There are 3 key imperatives to build this type of brand architecture — to be clear, meaningful and stretchable.</strong>
                </p>
                <p><strong>Clear</strong>: Just as modern architecture thrives on clear and clean lines, so does brand architecture. In the age of micro-segmentation, micro-targeting, information overload and digital fragmentation, you need a clear and loud voice in order to stand out. In the context of short attention spans where specific moments and needstates need to be targeted in addition to consumer/customer profiles, multiple brands often lead to confusion. The technology space understood this early, where clear and simple architectures that bring together simple design, as Apple, with complex technology, as SAP — always under the discipline of a rigorously simple way to organize.</p>
                <p>In addition, one of the key reasons for the regained popularity of clean, streamlined architectures, often organized around a single master brand, has been the emergence of platforms, or 2-way marketplaces structured around mutual value creation. By definition, bringing various stakeholder groups to one <strong>platform</strong> requires building a <strong>single brand</strong>, in order to enable network effects so critical for building scale. As Uber expands into different marketplaces and “uberizes” different industries, leveraging the power of its master brand is likely to lead to faster expansion than building a targeted brand for each industry from scratch.</p>
                <p><strong>Meaningful</strong>: Just as modern architecture prioritizes function over embellishments, a solid brand architecture is founded on brands and values meaningful to consumers (or customers), rather than product feature distinctions. Brand architecture needs to be re-organized around brands that have a “reason for being” compelling enough to elicit passion, and introducing a clear distinction between brands that merit air time with consumers vs. “clutter”. The “decluttering” trend is gaining traction in brand architecture — just as in the popular consumer “decluttering” technique, only brands that “bring joy” to consumers get the spotlight. TED, for example, leverages the powerful TED master brand, positioned around “ideas worth spreading”, in a set of sub-brands that target meaningful occasions and contexts for intellectual exploration (TED Talks, TEDx, TED-Ed, TED Prize, TED Fellows, TED Institute, TED Radio Hour).</p>
                <p><strong>Stretchable</strong>: Modern architecture is dynamic — it finds its force in the midst of usage; movement is often embedded into its very bones. In today’s fast-changing world, brand architecture is a moving target — clients increasingly ask to design architectures that fit their growth ambitions, thinking through future growth scenarios and architecting space for the future product pipeline. In particular in industries undergoing disruption, where next generation products aim to upset the status quo, their addition to any brand architecture may require a fundamental rethink.</p>
                <p>Much as strategy has become “real time” as the window for strategic planning has shortened, brand architecture is also becoming more “real time”, requiring more frequent reassessment, adaptations and flexibility as markets change. Witness the frequency with which Uber readjusts its portfolio. WeWork, the popular co-working space, also exploits the strength of the master brand to stretch into near-in categories such as hospitality with WeLive or the ventures space with WeWork Labs.</p>
                <p>Traditionally, companies considered a house of brands architecture as a risk management tool — a way not to put all your eggs in one basket. It turns out, in the age of platforms and digital disruption, a masterbrand-led architecture can help you build a bigger basket, to hold more eggs.</p>
            </div>
            <div class="flex justify-center mt-7 mb-7">
                <a class="px-5 py-2 text-sm text-blue-600 rounded-full dark:text-blue-500 bg-brand-secondary/20 " href="/">← View all posts</a>
            </div>
            <div class="px-8 py-8 mt-3 text-gray-500 rounded-2xl bg-gray-50 dark:bg-gray-900 dark:text-gray-400">
                <div class="flex flex-wrap items-start sm:space-x-6 sm:flex-nowrap">
                    <div class="relative flex-shrink-0 w-24 h-24 mt-1 ">
                        <a href="/author/mario-sanchez">
                            <img alt="Mario Sanchez" sizes="96px" srcset="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=16&amp;q=75&amp;fit=clip&amp;auto=format 16w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=32&amp;q=75&amp;fit=clip&amp;auto=format 32w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=48&amp;q=75&amp;fit=clip&amp;auto=format 48w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=64&amp;q=75&amp;fit=clip&amp;auto=format 64w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=96&amp;q=75&amp;fit=clip&amp;auto=format 96w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=128&amp;q=75&amp;fit=clip&amp;auto=format 128w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w" src="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format" decoding="async" data-nimg="fill" class="rounded-full object-cover" loading="lazy" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                        </a>
                    </div>
                    <div>
                        <div class="mb-3">
                            <h3 class="text-lg font-medium text-gray-800 dark:text-gray-300">About Mario Sanchez</h3>
                        </div>
                        <div>
                            <p>Mario is a Staff Engineer specialising in Frontend at <a href="https://vercel.com/" rel="noopener" target="_blank">Vercel</a>, as well as being a co-founder of Acme and the content management system Sanity. Prior to this, he was a Senior Engineer at Apple.</p>
                        </div>
                        <div class="mt-3">
                            <a class="py-2 text-sm text-blue-600 rounded-full dark:text-blue-500 bg-brand-secondary/20 " href="/author/mario-sanchez">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

@code {

    [Parameter]
    public string Slug { get; set; } = default!;

    [Inject]
    public BlogContext Context { get; set; } = default!;

    private Post? Post { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        await FetchAsync();
        await base.OnParametersSetAsync();
    }

    private async Task FetchAsync()
    {
        Post = await Context.Posts.FirstOrDefaultAsync(x => x.Slug.Equals(Slug));
    }

}